.bg-img {
    background-image: url("https://watermark.lovepik.com/photo/20211126/large/lovepik-car-parking-picture_501141606.jpg");
    height: 50vh;
    background-size: cover;

}

.para {
    padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
}

ul li a:hover {
    background-color: navy blue;

}

ul li a {
    color: black;
}

.lk {
    color: purple;
    font-size: 15px;
    font-family: Roboto;
}

.list {
    display: flex;
    text-overflow: hidden;
    list-style-type: none;
    justify-content: space-around;
}

li a:active {
    background-color: yellow;
}

.but {
    color: black;
    background-color: lightblue;
    border-width: 0.5px;
    border-radius: 5px;
    height: 37px;
    WIDTH:90PX;
    margin-left: 590px;
    margin-bottom:10px;
}

.parking {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    font-size: 29px;
    padding-top: 10px;
}

.back {
    background-color: grey;
   
    background-size:cover
}
.audio{
    height:70px;
    margin-bottom:100px;
    width:220px;
    margin-left:90px;

}
.video{
     width:280px;
    height:250px;
     margin-left:90px;
      margin-bottom:60px;
}
.iframe{
    height:235px;
    width:280px;
    margin-left:90px;
     margin-bottom:60px;
}
.space{
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
}
.space audio{
    margin-top:50px;
}
.table{
    margin-left:90px;
    margin-bottom:60px;
    background-color:#f2f2f2;
    background:linear-gradient(135deg,#667eea,#764ba2);
    color:white;
    font-size:18px;
    text-transform:uppercase;
}
.for{
    margin-left:50%;
    margin-bottom:160px;
   
}
