.bg-img {
    background-image:url("https://images.unsplash.com/photo-1621929747188-0b4dc28498d2?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGFya2luZ3xlbnwwfHwwfHx8MA%3D%3D");
    height:50%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
}

.para {
    padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
}

ul li a:hover {
    background-color: navy blue;

}

ul li a {
    color: black;
}

.lk {
    color: purple;
    font-size: 15px;
    font-family: Roboto;
}

.list {
    display: flex;
    text-overflow: hidden;
    list-style-type: none;
    justify-content: space-around;
}

li a:active {
    background-color: yellow;
}

.but {
    color: black;
    background-color: lightblue;
    border-width: 0.5px;
    border-radius: 5px;
    height: 37px;
    WIDTH:90PX;
    margin-left: 250px;
    margin-top: 0px;
    margin-bottom:160px;
}
.b{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.parking {
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    font-size: 29px;
    padding-top: 10px;
}

.back {
    background-color: grey;
   
    background-size:cover
}
.audio{
    height:70px;
    margin-bottom:100px;
    width:220px;
    margin-left:90px;

}
.video{
     width:280px;
    height:250px;
     margin-left:90px;
      margin-bottom:60px;
}
.iframe{
    height:235px;
    width:280px;
    margin-left:90px;
     margin-bottom:60px;
}
.space{
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
}
.space audio{
    margin-top:50px;
}

